<div class="center home-background">
  <ngb-tabset>
    <ngb-tab title="Round Trip" class="mr-2">
      <ng-template ngbTabContent>
        <form
          [formGroup]="RoundTripForm"
          class="center-block"
          class="horizontal-center"
          (ngSubmit)="BookRoundTrip()"
        >
          <input
            type="text"
            placeholder="From:"
            formControlName="RoundTripfrom"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            class="inputControl"
            required
            #RoundTripFromSearch
          />
          <input
            type="text"
            placeholder="To:"
            formControlName="RoundTripto"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            class="inputControl"
            required
            #RoundTripToSearch
          />

          <input
            class="inputControl"
            placeholder="Depart Date:"
            formControlName="RoundTripdepartDate"
            ngbDatepicker
            #RTdepartdate="ngbDatepicker"
            required
          />
          <button
            style="margin-bottom: 2px; background-color: white;"
            class="btn btn-primary inputControl calendar"
            (click)="RTdepartdate.toggle()"
            type="button"
          ></button>

          <input
            class="inputControl"
            placeholder="ReturnDate:"
            formControlName="RoundTripreturnDate"
            ngbDatepicker
            #RTreturndate="ngbDatepicker"
            required
          />
          <button
            style="margin-bottom: 2px; background-color: white;"
            class="btn btn-primary inputControl calendar"
            (click)="RTreturndate.toggle()"
            type="button"
          ></button>

          <button
            id="submitButton"
            [disabled]="!RoundTripForm.valid"
            type="submit"
            class="btn btn-primary inputControl book-button"
          >
            Book
          </button>
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Packages">
      <ng-template ngbTabContent>
        <form
          [formGroup]="PackageTripForm"
          class="center-block"
          class="horizontal-center"
        >
          <input
            type="text"
            placeholder="From:"
            formControlName="PackageTripfrom"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            class="inputControl"
            required
            #PackageTripFromSearch
          />

          <select
            class="inputControl"
            id="reasonSelect"
            formControlName="PackageTrip"
            style="width: 100px"
          >
            <option class="options" value="Airport" [selected]="true"
              >Airport</option
            >
          </select>

          <input
            class="inputControl"
            placeholder="Depart Date:"
            formControlName="PackageTripdepartDate"
            ngbDatepicker
            #PTdepartdate="ngbDatepicker"
            required
          />
          <button
            style="margin-bottom: 2px; background-color: white;"
            class="btn btn-primary inputControl calendar"
            (click)="PTdepartdate.toggle()"
            type="button"
          ></button>

          <button
            id="submitButton"
            [disabled]="!PackageTripForm.valid"
            type="submit"
            (click)="BookPackageTrip()"
            class="btn btn-primary inputControl book-button"
          >
            Book
          </button>
        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
