<div class="center home-background">
  <div>
    <form
      [formGroup]="RoundTripForm"
      class="center-block"
      class="form-group"
      (ngSubmit)="BookRoundTrip()"
    >
      <input
        type="text"
        placeholder="From:"
        formControlName="from"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        class="inputControl"
        #search
      />
      <input
        type="text"
        placeholder="To:"
        formControlName="to"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        class="inputControl"
        #search
      />

      <input
        type="text"
        class="inputControl"
        formControlName="departDate"
        placeholder="Depart Date:"
      />

      <input
        type="text"
        class="inputControl"
        formControlName="returnDate"
        placeholder="ReturnDate:"
      />

      <button
        id="submitButton"
        [disabled]="tripSubmitClick"
        type="submit"
        class="btn btn-primary inputControl"
      >
        Book
      </button>
    </form>
  </div>
</div>
