@import '../node_modules/bootstrap/scss/bootstrap';

@import 'variables.scss';

html,
body {
  height: 100%;
}

body {
  font-family: $body-font;
  font-weight: $body-font-weight;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-content {
  margin-top: 15px;
}

.nav-pills .nav-link {
  color: black;
  background-color: #cccccc;
  border-radius: 20px !important;
  margin-right: 10px;
}
